<h1>creat new subject</h1>

<form action="/subjects" method="post">
    
<div>
    <label for="">Name</label>

    <input type='text'class='form-control' name="name" />

</div>

<div>
    <label for="">code</label>

    <input type='text'class='form-control' name="code" />

</div>

<div>
    <label for="">department</label>

    <select name='department' id='' class='form-select'>
      {{#each departments}}  

      <option value="{{_id}}">{{name}}</option>  

       {{/each}}     
     

    </select>

</div>

<div class="mt-3">
<button class="btn btn-success"type="submit">
    save
</button>

</div>





</form>
