<h1>Subjects</h1>

<div class="my-2">
    <a href="subjects/create">Add a New Subject</a>
</div>
{{#each subjects}}
<div>
    <a href='/subjects/{{_id}}'>
        {{ name }}
    </a>
</div>
{{/each}}

        