<h1>Subjects</h1>

{{!-- {{#each subjects}}

<h2>{{ name }}</h2>
<h5>Code:  {{ code }}</h5>

{{/each}} --}}

        <label for="">Subjects</label>

        <select name='subjects' id='' class='select'>
            {{#each subjects}}

            <option value="{{ _id }}">{{ name }}</option>


            {{/each}}

        </select>