<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

            
            <img src="/image/admin1.png" alt="">

            <br><br>
            <h1>
                Admin Page
            </h1>


<center>
        <div class="choose">

            <form method="post" name="myform" onsubmit="return tast();" action="admin">

                <input class="su" type="submit" value="Account of Doctors" onclick="admin();"> <br>
                <input class="su" type="submit" value="Account of Students" onclick="admin();"><br>
                <input class="su" type="submit" value="Subjects" onclick="admin();"><br>
                <input class="su" type="submit" value="Departments" onclick="admin();"><br>

            </form>

        </div>

</center>
</body>

</html>